<?xml version="1.0" encoding="utf-8" ?>
<config>
    <chromeDriverPath>C:\Users\Administrator\Documents\Natali\לימודים\QA_Automation\Tools\chromedriver.exe</chromeDriverPath>
    <browserType>Chrome</browserType>
    <!--browserType>FF</browserType-->
    <FFDriverPath>C:\Users\Administrator\Documents\Natali\לימודים\QA_Automation\Tools\geckodriver.exe</FFDriverPath>
    <timeOut>10</timeOut>
    <URL>https://buyme.co.il</URL>
    <UserName>Join13</UserName>
    <DBUserName>Ua14L9NOqa</DBUserName>
    <DBName>Ua14L9NOqa</DBName>
    <DBPassword>ZYUuuHLSBA</DBPassword>
    <DBPort>3306</DBPort>
    <DBServer>remotemysql.com</DBServer>

</config>